@{
    ViewData["Title"] = "Unidades de medida";
}

<div class="text-center">
    <h1 class="display-4">Unidades de medida</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
